<div class="navbar navbar-light bg-light fixed-top d-flex justify-content-between" style="height: 4.5rem;">
  <ul class="navbar-nav mr-auto align-items-center d-flex flex-row gap-2">
    <h5 *ngIf="!mobile_mode" role="button" class="navbar-brand mx-2" [routerLink]="[home_url]">Remember VR 8.0</h5>
    <li [ngClass]="mobile_mode ? 'mx-2' : ''" class="nav-item">
      <button [ngClass]="mobile_mode ? '' : 'btn-lg'" type="button" [routerLink]="[home_url]"
        [ngClass]="router.url == home_url ? 'active' : ''" class="btn btn-outline-primary"><i
          class="bi bi-house-heart-fill"></i></button>
    </li>
  </ul>
  <div class="d-flex justify-content-between align-items-center" style="margin-right: 0.5rem;"
    id="navbarSupportedContent">
    <div class="d-flex gap-1 form-inline">
      <button [ngClass]="mobile_mode ? '' : 'btn-lg'" [routerLink]="[shopUrl]"
        [ngClass]="router.url == shopUrl ? 'active' : ''" class="btn btn-outline-primary my-1 my-sm-0"
        type="submit" ngbTooltip="Acquisto prodotti">
        <i class="bi bi-shop"></i>
      </button>
      <button [ngClass]="mobile_mode ? '' : 'btn-lg'" [routerLink]="[prodottiAcquistati]"
        [ngClass]="router.url == prodottiAcquistati ? 'active' : ''"
        class="btn btn-outline-primary my-1 my-sm-0" type="submit" ngbTooltip="I miei prodotti">
        <i class="bi bi-tag"></i>
      </button>
      <button (click)="downloadCose()"
      class="btn btn-outline-primary my-1 my-sm-0" type="submit" ngbTooltip="I miei prodotti">
      <i class="bi bi-download"></i>
    </button>
    </div>
  </div>
</div>
