<div class="modal-header">
  <h4 class="modal-title">Aggiungi un video</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <input type="file" accept="video/*" (change)="loadVideo($event)">
    </div>
    <div class="col-12 pt-2">
      <video [src]="url" *ngIf="url" height="200" controls></video>
    </div>
  </div>
<div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="sendVideoToBE()">Aggiungi</button>
  <button type="button" class="btn btn-danger" (click)="modalService.close(false)">Chiudi</button>
</div>
