<div style="padding-top: 4.7rem;">
    <div class="text-center">
        <h1>
            Prodotti acquistati
        </h1>
    </div>

    <div class="pt-3 row">
        <div *ngFor="let prodotto of prodottiArray"  class="col-xl-4 col-12 pt-3">
            <div class="card ">
                <div class="card-header text-center">
                   <h1>
                       {{prodotto.nome}}
                   </h1>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-12">
                            <h3>
                                Descrizione:
                            </h3>
                            <label for="">{{prodotto.descrizione}}</label>
                        </div>
                        <div class="col-12 pt-3">
                            <img src="{{prodotto.immagine}}" style="width: '90%'; height:'90%'" alt="test">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
