<div class="card" style="height: 90vh; ">
  <div class="card-header">
    <h3>
      Lista video
    </h3>
  </div>
  <div class="card-body" style="overflow: auto;">

    <div class="row">
      <div class="col-12 pt-3" *ngFor="let singleVideo of safeVideoList; let i = index">
          <div class="embed-responsive embed-responsive-16by9 pt-2">
            <iframe class="embed-responsive-item" style="width: 100%;"  [src]="singleVideo" height="300" allowfullscreen></iframe>
          </div>
          <div class="btn btn-danger" (click)="removeVideo(i)">Rimuovi video</div>

      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <div class="btn btn-primary" (click)="addVideo()">Aggiungi video</div>
      </div>
    </div>
  </div>
</div>
